/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Laravel specific
/storage/app/*
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*.php

# Nhưng vẫn giữ lại các file cần thiết để thư mục tồn tại
!/storage/app/public
!/storage/framework/.gitignore
!/storage/logs/.gitignore
!/bootstrap/cache/.gitignore
